/* Compass */
/* Body */
/* line 6, ../sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Main Navigation Menu */
/* line 11, ../sass/style.scss */
.navbar {
  padding: 23px 5px 25px 5px;
  margin-bottom: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #1BA9CF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  /* Navbar Brand*/
  /* Navbar Toggle */
  /* Navbar-nav links */
}
/* line 24, ../sass/style.scss */
.navbar .navbar-brand {
  padding: 0;
  margin: 0;
}
/* line 27, ../sass/style.scss */
.navbar .navbar-brand img {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  top: -14px;
}
/* line 34, ../sass/style.scss */
.navbar .navbar-brand span {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 2px;
  line-height: 1.1em;
  color: #fff;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
}
/* line 47, ../sass/style.scss */
.navbar .navbar-toggle {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #1BA9CF;
  position: relative;
  left: 15px;
}
/* line 56, ../sass/style.scss */
.navbar .navbar-nav li .active-link {
  background-color: #1BA9CF;
}
/* line 59, ../sass/style.scss */
.navbar .navbar-nav li a {
  color: #fff;
}
/* line 61, ../sass/style.scss */
.navbar .navbar-nav li a:hover {
  background-color: #1BA9CF;
}

/* line 68, ../sass/style.scss */
.intro {
  background-image: url("../images/landing.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
/* line 74, ../sass/style.scss */
.intro .intro-overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}
/* line 80, ../sass/style.scss */
.intro .intro-overlay .intro-text {
  padding-top: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}
/* line 89, ../sass/style.scss */
.intro .intro-overlay .intro-text .h-1 {
  margin: 0;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 3em;
  text-align: center;
}
/* line 97, ../sass/style.scss */
.intro .intro-overlay .intro-text .h-2 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
/* line 105, ../sass/style.scss */
.intro .side-ul {
  background-color: #1BA9CF;
  padding: 20px;
  list-style-position: inside;
}

/* Buttons */
/* line 114, ../sass/style.scss */
.btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 119, ../sass/style.scss */
.call-to-action-btn {
  margin: 20px 0 20px 0;
  font-weight: bold;
  padding: 15px;
}
/* line 123, ../sass/style.scss */
.call-to-action-btn:hover {
  background-color: #1BA9CF;
  color: #fff;
  border-color: #1BA9CF;
}

/* line 130, ../sass/style.scss */
.table1 {
  border-collapse: collapse;
  border: 4px solid #496674;
}
/* line 134, ../sass/style.scss */
.table1 td {
  border: 2px solid #496674;
  text-align: center;
}
/* line 139, ../sass/style.scss */
.table1 tr:nth-child(odd) {
  background-color: #B6D9E6;
}
/* line 143, ../sass/style.scss */
.table1 td:first-child {
  background-color: #1BA9CF;
  color: #fff;
}

/* line 149, ../sass/style.scss */
.table2 {
  border-collapse: collapse;
  border: 4px solid #496674;
}
/* line 153, ../sass/style.scss */
.table2 td {
  border: 2px solid #496674;
  text-align: center;
}
/* line 158, ../sass/style.scss */
.table2 .blue-bg {
  background-color: #1BA9CF;
  color: #fff;
}
/* line 162, ../sass/style.scss */
.table2 .light-blue-bg {
  background-color: #B6D9E6;
}
/* line 165, ../sass/style.scss */
.table2 .border-right {
  border: 2px solid #9FA3A7;
}
/* line 168, ../sass/style.scss */
.table2 .grey-bg {
  background-color: #9FA3A7;
  border-bottom: 2px solid #9FA3A7;
}

/* line 174, ../sass/style.scss */
.section-h2 {
  border-bottom: 4px solid #1BA9CF;
  display: inline-block;
  padding-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

/* Forms */
/* line 182, ../sass/style.scss */
.form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 186, ../sass/style.scss */
.main-footer {
  background-color: #222222;
  margin-top: 10px;
  padding: 10px;
}
/* line 191, ../sass/style.scss */
.main-footer p {
  color: #fff;
}
/* line 194, ../sass/style.scss */
.main-footer .blue-color {
  color: #1BA9CF;
}
/* line 198, ../sass/style.scss */
.main-footer .copyright {
  color: #fff;
  font-weight: bold;
}

/* Helper classes */
/* line 207, ../sass/style.scss */
.last {
  font-size: 0.9em;
}

/* line 211, ../sass/style.scss */
.phone {
  font-weight: bold;
}

/* Responsive Design */
/* line 216, ../sass/style.scss */
.table-responsive {
  overflow-x: auto;
}

/* Google Maps */
/* line 221, ../sass/style.scss */
.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

/* line 227, ../sass/style.scss */
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 80% !important;
}

@media screen and (max-width: 480px) {
  /* line 236, ../sass/style.scss */
  .contact-info {
    margin-top: 10px;
  }
}
